<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>A Tiny Html Document</title>

 

</head>
<body>
	<p>Let's rock the browser, HTML5 style.</p>
	<p>Capital and lowercase letters <EM>Dont' matter</EM> in tag name.</p>
	<i>I cannot</i> <br />
	<s>move backward</s> <br>
	<strong>or forward.</strong></br>
	I am caught<br>
	<hr>
	<s></s>
	<hr>
	<!-- <img alt="my First Image" src="@routes.Assets.versioned("images/IMG_0889.JPG")"> -->
	<small>
		The creators of this site will not be held liable for any injuries
		that may result from unsupervised unicycle racing.
	</small>
	<hr>
	<strong>Breaking news!</strong> There's sale on <i>leche quemada</i> candy at the
	<b>El Azul</b> restaurant. Don't delay, because when the last candy is gone, it's
	<em>gone</em>.
	<hr>
	<p>
		Many linguists remain unconvinced that <b> supercali<wbr>frailistic<wbr>expialidoctious</b> is indeed a word.
</body>
</html>